<div class="row mb-4">
  <div class="card-deck ml-0 mr-0">
    <div class="card">
      <div class="card-header">
        <b>About me</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">I can add value to your company</h5>
        <p class="card-text">I'm Web Developer with more than 10 years of experiences building websites.
          I'm a self educator that continues studying to add more power to my strengths.
          I am apationate with programming and IT.</p>
        <p class="card-text">I can work under preasure, alone or with any team to colaborate to build the best
          software for my clients.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <b>Skills</b>
      </div>
      <div class="card-body">
        <a class="skills">Drupal</a>
        <a class="skills">Drupal Commerce 2</a>
        <a class="skills">Drupal API Backend</a>
        <a class="skills">Angular 10</a>
        <a class="skills">Wordpress</a>
        <a class="skills">Bootstrap</a>
        <a class="skills">PHP</a>
        <a class="skills">Twig</a>
        <a class="skills">JQuery</a>
        <a class="skills">Javascript</a>
        <a class="skills">Mysql</a>
        <a class="skills">Git</a>
        <a class="skills">Firebase Cloud</a>
        <a class="skills">Google Webmaster Tools</a>
        <a class="skills">AWS SES</a>
        <a class="skills">Linux CL</a>
        <a class="skills">Postman</a>
      </div>
    </div>
  </div>
</div>



<div class="card mb-4">
  <div class="card-header">
    <b>Portfolio</b>
  </div>
  <div class="card-body">

    <app-portfolio-card *ngIf="portfolios.length > 0" [portfolios]="portfolios"></app-portfolio-card>


  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <b>Sometime in my developer life</b>
  </div>
  <div class="card-body">
    <p>Any day or for a season, I have been working with the next frameworks:</p>
    <a class="skills">Ionic</a>
    <a class="skills">Code Igniter</a>
    <a class="skills">Liferay 4</a>
    <a class="skills">Linux Web server install</a>
    <a class="skills">ASP</a>
    <a class="skills">JSP</a>
    <a class="skills">Java</a>
    <a class="skills">PL/SQL</a>
    <a class="skills">Oracle</a>
  </div>
</div>
